<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="pal-geshwar\localdb#cb9aa934.db_ConnectivityDemo.dbo"
            connectionString="XpoProvider=MSSqlServer;data source=(LocalDb)\MSSQLLocalDB;integrated security=SSPI;initial catalog=db_ConnectivityDemo" />
    </connectionStrings>
</configuration>